:root {
    box-sizing: border-box;
    --brown: #490B3D;
    --hotpink: #BD1E51;
    --mustard: #F1B814;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Common Title */
header {
    background-color: var(--mustard);
    display: flex;
    align-items: center;
    padding-left: max(1em, 5%);
    padding-right: max(1em, 5%);
    padding-block: 1em;
    border-bottom: 2px solid black;
    z-index: 4;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    padding-left: min(0.5em, 5%);
    white-space: nowrap;
}

header i {
    font-size: 2.5em;
}

.fa-bars {
    margin-left: auto;
    padding-right: 0.2em;
}

@media screen and (min-width: 700px) {
    .fa-bars {
        display: none;
    }
}

/* main */
main {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 133.59px);
    height: auto;
    
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
    }
}

/* Navigation */
aside {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: #f5d9b4;
    width: 100%;
    position: absolute;
    top: -500px;
    transition: top 0.3s ease-out;
    z-index: 1;
    border-bottom: 1px solid black;
    font-size: 1.2rem;

}

aside.active {
    top: -15px;
}

.due-today p,
.due-next-week p,
.projects p {
    display: inline-block;
    padding-left: 1em;
}

.projects {
    position: relative;
}

.fa-caret-up.active {
    transform: rotateZ(180deg) translateY(-3px);
}

.projects:active::after {
    transform: rotateZ(180deg);
}

.projects-list {
    background-color: #daaa62;
    border-radius: 20px; 
    visibility: hidden;
    position: absolute;
}

.projects-list.active {
    position: relative;
    visibility: visible;
}

.add-project {
    text-align: center;
    padding: .5em;
    border-radius: 20px; 
}

.add-project i{
    padding: .3em;
    border-radius: 50%;
    background-color: #ffffff;
}

.add-project i:active {
    background-color: rgb(131, 131, 131);
}

.project-child {
    padding: .5em;
    margin-left: 1em;
    display: flex;
}

.project-child i {
    align-self: center;
}

.project-child p {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

@media screen and (min-width: 700px) {
    aside { 
        position: static;
        flex: 1;
        min-width: 300px;
    }
}


/* Main Lists */
.main-list {
    background-color: white;
    width: 100%;
    height: 1000px;
    min-height: 100%;
}

.main-list h2 {
    font-size: 3rem;
    margin: 0.3em 0 0.3em 1em;
}

.to-do-list {
    background-color: rgb(231, 231, 230);
    height: 80%;
    width: 90%;
    margin: 2em auto;
}

@media screen and (min-width: 700px) {
    .main-list {
        flex: 4;
    }
}

